<div class="detailBox" [ngClass]="{'selected':active}">
    <div class="titleBox">
        <label>Comment Box</label>
        <button type="button" class="close" aria-hidden="true" (click)="closeComment()">&times;</button>
    </div>
    <div class="commentBox" style="display: none">
        <p class="taskDescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            <li *ngFor="let comment of comments">
                <div class="commenterImage">
                    <img src="../../assets/images/user-male-icon.png" />
                </div>
                <div class="commentText">
                    <p class="">{{comment.body}}</p> <span class="date sub-text">{{comment.date | date:longDate}}</span>
                </div>
            </li>
        </ul>
        <form class="form-inline" role="form" style="position: fixed;bottom: 0px;">
            <div class="form-group">
                <input class="form-control" #comment type="text" placeholder="Your comments" />
            </div>
            <div class="form-group" style="width: 20%;">
                <button class="btn btn-default add-btn" (click)="createComment($event, comment.value);comment.value = ''">Add</button>
            </div>
        </form>
    </div>
</div>